/*=============== GOOGLE FONTS ================ */
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@300;400;500&display=swap");
/*=============== VARIABLES =================== */
:root {
  /*======= Height ==========*/
  --header-height: 8rem;

  /*======= Colors ==========*/
  --bg-color: #161a1d;
  --primary-color: #660708;
  --primary-alt: #a4161a;
  --text-color: #f5f3f4;
  --alt-text-color: #d3d3d3;
  --secondary-color: #0b090a;
  --secondary-alt: #494e5a;

  /*======= Font & Typography ========== */
  --preload-family: "Anton", sans-serif;
  --body-family: "Roboto", sans-serif;

  --bold-font: 700;
  --regular-font: 400;
  --light-font: 300;

  --biggest-font-size: 3rem;
  --h1-font-size: 1.5rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.825rem;
  --smallest-font-size: 0.732rem;
}

@media screen and (min-width: 725px) {
  :root {
    --header-height: 12rem;

    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.938rem;
    --smallest-font-size: 0.825rem;
  }
}

body {
  font-family: var(--body-family);
  background: var(--bg-color);
}

main {
  min-height: 100vh;
}

img {
  max-width: 100%;
}

button:focus {
  outline: none;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: var(--h1-font-size);
}

/*=============== Preload =================*/
.preload {
  position: absolute;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  font-family: var(--preload-family);
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  transition: all 2s ease-out;
}

.preload__title {
  color: var(--text-color);
  font-size: var(--biggest-font-size);
  letter-spacing: 3px;
  border-bottom: 2px solid var(--text-color);
}

.preload__box {
  width: 3rem;
  height: 3rem;
  background: var(--text-color);
  border: 0.5rem solid var(--bg-color);
  box-shadow: 0px 0px 0px 8px var(--text-color);
  animation: rotation 2s infinite;
}

.preload--hide {
  opacity: 0;
  visibility: hidden;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*============ MAIN ============*/
.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*============ Game Settings =======0=*/
.gameSettings {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 25rem;
  width: 90%;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px var(--primary-alt);
  transform: scale(50%);
  opacity: 0;
  transition: transform 200ms ease-out, opacity 100ms ease-out;
}

.gameSettings--active {
  transform: scale(100%);
  opacity: 1;
}

.gameSettings__title {
  flex-basis: 100%;
  text-align: center;
  color: var(--text-color);
  margin-bottom: 1rem;
}

.playerCard {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  flex-basis: 50%;
}

.playerCard h3 {
  color: var(--text-color);
}

.player__name {
  color: var(--alt-text-color);
  font-family: inherit;
  text-align: center;
  max-width: 8rem;
  height: 2rem;
  background: transparent;
  border: none;
  border-radius: 5px;
  outline: none;
  box-shadow: 0 0 10px 2px var(--secondary-color);
  text-transform: uppercase;
}

.player__name::placeholder {
  color: var(--secondary-alt);
}

.player__name--cpu {
  color: var(--primary-alt);
  font-weight: var(--bold-font);
  pointer-events: none;
}

.player__name--cpu::placeholder {
  color: var(--primary-alt);
  font-weight: var(--bold-font);
}

.playerCard__img {
  width: 6rem;
  margin: 2rem 0;
  filter: invert(100%);
  transition: filter 0.2s ease-out;
}

.playerCard__img:hover {
  filter: invert(50%);
}

/* Button */
.btn {
  font-family: inherit;
  font-size: var(--normal-font-size);
  color: var(--text-color);
  height: 3rem;
  cursor: pointer;
  width: min(10rem, 40%);
  background: var(--primary-color);
  border: none;
  border-radius: 5px;
  transition: all 0.1s ease-in;
  margin-bottom: 0.5rem;
}

.btn:hover {
  box-shadow: 0 0 2px 1px var(--alt-text-color);
  background: var(--primary-alt);
}

.btn:active {
  transform: scale(0.9);
}

/* ========= Game Container ======= */

/* Borders */
.border {
  border-width: 2px;
  border-style: solid;
  border-color: var(--text-color);
}

.border-ntb {
  border-top: none;
  border-bottom: none;
}

.border-nlr {
  border-left: none;
  border-right: none;
}

.gameContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -100%;
  height: 100%;
  width: 100%;
  transition: all 0.2s ease-out;
}

.gameContainer--active {
  top: 0;
  visibility: visible;
}

.gameContainer__header {
  display: flex;
  align-items: center;
  height: var(--header-height);
  font-size: var(--biggest-font-size);
  color: var(--text-color);
}

.name {
  flex: 1;
  text-align: center;
  overflow: hidden;
  font-size: var(--h1-font-size);
}

.gameContainer__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  box-shadow: 0 0 20px 0 #000;
  min-width: 95%;
  margin: 0 auto;
}

.grid__box {
  width: min(100%, 150px);
  display: flex;
  justify-content: center;
  align-items:center;
  aspect-ratio: 1;
  transition: background 0.2s ease-in;
  font-size: var(--biggest-font-size);
  font-weight: var(--bold-font);
  color: var(--secondary-alt);
  cursor: pointer;

}

.grid__box:hover {
  background: rgba(0, 0, 0, 0.2);
}
